*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/* Formatting typo */
p, h1,h2,h3,h4,ul,li,a,input,span{
    font-family: 'Raleway', sans-serif;
}
a{  
    text-decoration:none;
}
ul, li{
    list-style: none;
    display: inline;
}  
.fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    display: none;
}

.search__title {
    font-size: x-large;
    padding-bottom: none;
}
.fa-solid, .fas {
    font-weight: 900;
}

.search__word{
    font-weight: 900;
}

.filters__item a {
    font-size: large;
    font-weight: 600;
    padding-right: 10px;
}
/* -------------------------- */


body{
    max-width: 1400px;
    margin: 0 auto; /* change back to auto */
}



  
/* adjusting the colors of icons/buttons */
.fa-solid, .fas{
    color: #0065FC;
}

.fa-location-dot:before, .fa-map-marker-alt:before {
    content: "\f3c5";
    color: black;
}

.fa-chart-line:before, .fa-line-chart:before {
    content: "\f201";
    color: black;
}
/* ---------------------------------------------- */


/* Hover effects */
.nav__item{
    border-top: 4px solid transparent;
    padding-top: 4em;
}

.nav__item:hover{
    border-top: 4px solid #0065FC;
}
a:hover{
    color:black;
}
.filters__item:hover{
    background-color:#DEEBFF
}
/* ---------------------------------------------- */


header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__nav{
    flex-basis: 36%;
}
.nav__list{
    display: flex;
    justify-content: space-evenly;
}



.header__logo{
    width:65px;
    height: 25px;
}
.search__form{
    display: flex;
    margin-top: 1em;
}
#search__button {
    padding: 8px;
    background-color: #0065fc;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    border-color: transparent;
}

.search__icon{
    BORDER: SOLID;
    border-color: #f2f2f2;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 8px;
    background-color: #f2f2f2;
}
#search{
    padding: 8px;
    border: solid;
    border-color: #f2f2f2;
}

.search__text{
    margin-bottom: 0.7em;
    margin-top: 0.6em;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.filters__title{
    display: flex;
    flex-basis: 7%;
}

.filters__list{
    display: flex;
    flex-wrap: wrap;
    margin-top:1.5em;
    justify-content: flex-start;
    flex-basis: 90%;



}
.filters__item{
    display: flex;
    border: solid;
    border-radius: 3em;
    border-color: #F2F2F2;
    justify-content: space-evenly;
    width: auto;
    padding: 10px;
    margin-right:15px;

}

.filters__text{
    flex-basis: 100%;
    padding: 0.5em 0;
}

.filters__icon{
    PADDING-RIGHT: 10PX;
    padding-top: 3PX;
    padding-left:10px;
}
.fa-info{
    border: solid;
    border-color: #f2f2f2;
    border-radius: 50%;
    PADDING: 6PX;
    padding-left:10px;
    HEIGHT: 31PX;
    WIDTH: 31PX;
}

/* cards                  */
.accomodations__card, .popular__card, .activities__card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 10px;
    padding: 2px 16px;
    background-color: white;
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-basis: 100%;
}
.activities__card{
    padding: 0%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
/*-----------------------------*/

/* Adjusting img sizes */
.accomodations__img, .popular__img, .activities__card_img {
    width: 100%;
    object-fit: cover;
}
.accomodations-popular{
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
}
.accomodations__img{
    max-width: 100%;
    height: 180px;
}
.accomodations__link{
    height: 180px;
    display: flex;
    flex-basis: 30%;
}

.activities__card-img {
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
    object-fit: cover;
    max-width: 100%;
    HEIGHT: 380PX;
    min-width: 300px;
}

.activities__link{
    display: flex;
    height: 500px;
    flex-basis: 23%;
}

.activities__content{
    padding:20px;
}
/* ------------------------- */

.accomodations{
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    justify-content: space-evenly;
    flex-basis: 68%;

}

.accomodations__title{
    display: flex;
    flex-basis: 100%;
    align-items: center;
}



.accomodations__plus{
    display: flex;
    flex-basis: 100%;
}
.popular{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.popular__title{
    display: flex;
    flex-basis: 100%;
}

.popular__figure, .accomodations__figure{
    display: flex;
    flex-direction: column;
}

.activities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activities__title{
    display: flex;
    flex-basis: 100%;
    padding-top: 70px;
}



footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: #F2F2F2;
    padding: 35px;
}

.footer__list{
    display: flex;
    flex-direction: column;
    line-height: 29px;
}

.footer__title{
    padding-bottom: 20px;
}