*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

/* Formatting typo */
p, h1,h2,h3,h4,ul,li,a,input,span{
    font-family: 'Raleway', sans-serif;
}
a{  
    text-decoration:none;
}
ul, li{
    list-style: none;
    display: inline;
}  
.fa-magnifying-glass:before, .fa-search:before {
    content: "\f002";
    display: none;
}

.search__title {
    font-size: x-large;
    padding-bottom: none;
}
.fa-solid, .fas {
    font-weight: 900;
}

.search__word{
    font-weight: 900;
}

.filters__item a {
    font-size: large;
    font-weight: 600;
    padding-right: 10px;
}
/* -------------------------- */


body{
    max-width: 1400px;
    margin: 0 auto; /* change back to auto */
}



  
/* adjusting the colors of icons/buttons */

.filters__list i{
    color: #0065FC;
}
.fa-location-dot:before, .fa-map-marker-alt:before {
    content: "\f3c5";
    color: black;
}

.fa-chart-line:before, .fa-line-chart:before {
    content: "\f201";
    color:#0065FC
}

.active{
    color:#0065FC

}

.inactive{
    color:#F2F2F2
}
/* ---------------------------------------------- */


/* Hover effects */
.nav__item{
    display: flex;
    border-top: 4px solid transparent;
    align-items: center;
    flex-basis: 50%;
    justify-content: center;
    height: 100px;
}

.nav__item:hover{
    border-top: 4px solid #0065FC;
    
}
.nav__item:hover a{
    color: #0065FC;
}
.nav__item a {
    color: black;
}

.filters__list a, .accomodations__plus, .accomodations__content h3, .accomodations__content p, .popular__content h3, .popular__content p, .activities__card-title, .footer__item a{
    color: black;
}
.filters__item:hover{
    background-color:#DEEBFF
}
/* ---------------------------------------------- */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__nav{
    flex-basis: 30%;
}
.nav__list{
    display: flex;
    justify-content: space-evenly;
}



.header__logo{
    width:65px;
}
.search__form{
    display: flex;
    margin-top: 1em;
    height: 45px;
}
#search__button {
    background-color: #0065fc;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    border-color: transparent;
    width: 121PX;
}

.search__icon{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: solid;
    border-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f2f2f2;
    width: 45px;
}
#search{
    padding: 8px;
    border: solid;
    border-color: #f2f2f2;
    color: black;
    font-weight: bolder;
    width: 100%;
    max-width: 200px;
}

.search__text{
    margin-bottom: 0.7em;
    margin-top: 0.6em;
}

input::placeholder{
    color:black;
    opacity: 1;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    margin-top:1em;
}

.filters__title{
    display: flex;
    flex-basis: 7%;
}

.filters__list{
    display: flex;
    flex-wrap: wrap;
    margin-top:1.5em;
    justify-content: flex-start;
    flex-basis: 90%;



}
.filters__item{
    display: flex;
    border: solid;
    border-radius: 3em;
    border-color: #F2F2F2;
    justify-content: space-evenly;
    width: auto;
    padding: 10px;
    margin-right:15px;

}

.filters__text{
    flex-basis: 100%;
    padding-top: 30px;
}

.filters__text i{
    display: inline-flex;
}

.filters__icon{
    PADDING-RIGHT: 10PX;
    padding-top: 3PX;
    padding-left:10px;
}
.fa-info{
    display: inline-flex;
    align-self: center;
    border: solid;
    border-color: #f2f2f2;
    border-radius: 50%;
    HEIGHT: 31PX;
    WIDTH: 31PX;
    justify-content: center;
    align-items: center;
    color: #0065fc;
}

.fa-chart-line{
    padding-left: 40px;
}

/* cards                  */
.accomodations__card, .popular__card, .activities__card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    border-radius: 20px;
    padding: 6px 6px;
    background-color: white;
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-basis: 100%;
}
.activities__card {
    padding: 0;
    border-radius:20px;
    display: flex;
    flex: 1;
    height: 100%;
    overflow-y: hidden;
}
.accomodations__card{
    padding:6px;
    border-radius: 20px;
}

.accomodations__content {
    padding:7px;
}
.accomodations__star, .popular__star{
    font-size: small;
}

.accomodations__text{
    font-size: medium;
}
/*-----------------------------*/

/* Adjusting img sizes */
.accomodations__img, .popular__img, .activities__card_img {
    width: 100%;
    object-fit: cover;
}
.accomodations-popular{
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
    gap: 43PX;
}
.accomodations__img {
    width: 100%;
    height: 142px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.accomodations__link{
    display: flex;
    flex-basis: 30%;
}

.accomodations__figure{
    display: flex;
    flex-direction: column;
    max-height: 210px;
}


.popular__img {
    width: 125px;
    border-radius: 15px 0px 0px 15px;
    height: 142px;
    object-fit: cover;
}
.popular__link{
    display: flex;
    flex-basis: 30%;
}


.popular__figure {
    display: flex;
    width: 350px;
    justify-content: SPACE-BETWEEN;
}

.popular__content {
    display: flex;
    flex-direction: column;
    flex-basis: 56%;
    justify-content: flex-end;
}


.popular__title-card {
    DISPLAY: FLEX;
    FLEX-BASIS: 22%;
}

.popular__price {
    DISPLAY: flex;
    FLEX-BASIS: 20%;
}

.popular__list {
    display: flex;
    align-items: flex-end;
    FLEX-BASIS: 50%;
}

.activities__card-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    flex:1;
    overflow-y: hidden;
}

.activities__link{
    display: flex;
    height: 500px;
    flex-basis: 23%;
}

.activities__content{
    display: flex;
    align-items: center;
    flex-basis: 80px;
    padding: 0px 17px;
}

.activities__card-title{
    width: 96%;
}
/* ------------------------- */

.accomodations {
    display: flex;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    justify-content: space-between;
    flex-basis: 68%;
    padding: 50px;
    GAP: 20PX;
    border-radius: 2%;
}

.accomodations__title{
    display: flex;
    flex-basis: 100%;
    align-items: center;
}


.accomodations__plus{
    display: flex;
    flex-basis: 100%;
    font-weight: 900;
    font-size: larger;
    padding: 3vh;
}
.popular {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    flex-basis: 28%;
    justify-content: space-evenly;
    padding: 50px;
    gap: 19px;
    border-radius: 2%;
}

.popular__title{
    display: flex;
    justify-content: space-between;

}

.activities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15vh;
}

.activities__title{
    display: flex;
    flex-basis: 100%;
    margin-bottom: 20px;
}



footer{
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
    padding: 35px;
    justify-content: space-evenly;
    margin-top: 50px;
}

.footer__container{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
}
.footer__list{
    display: flex;
    flex-direction: column;
    line-height: 29px;
}

.footer__title{
    padding-bottom: 20px;
    font-size: larger;
}

/* ---------- Mobile queries --------------*/

@media only screen and (max-width:412px){
    header{
        flex-wrap: wrap;

    }

    .filters__list{
        flex-basis:97%;
    }

    .filters__item{
        flex-basis: 44%;
    }

    .accomodations-popular{
        flex-wrap: wrap-reverse;
    }

    .accomodations__plus{
        display: none;
    }

    .accomodations{
        flex-wrap: nowrap;
        flex-basis: auto;
        flex-direction: column;
        background-color: white;
        padding:15px;
    }

    .accomodations__img{
        width: 350px;
    }

    .popular{
        padding:15px;
    }

    .activities{
        flex-direction: column;
        gap:30px;
    }
    .activities__title{
        width: 125px;
    }

    .activities__link{
        flex-basis: auto;
        height: 250px;
    }

    footer{
        flex-direction: column;
    }
   .footer__container{
        margin-bottom: 27px;
   }





}