
ul, li{
    list-style: none;
    display: inline;
    padding: 0em;
    margin: 0em;
}


a{  
    text-decoration:none;
  }

  

header{
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.nav{
    display: inline;
    width: 50%;
}

.header__logo{
    display: inline;
    padding: 0%;
    width:3em;
    margin: 0em;
}

#search__button{
    background-color: blue;
    border-radius: 2em;
    color: white;
    
}

.filters{
    display: flex;
    flex-wrap: wrap;
}
.filters__title, .filters__list{
    width: 30% 70%;
    padding-right: 1.5em;
}
.filters__list{
    margin-top:1.5em;

}
.filters__item{
    border: solid;
    border-radius: 3em;
    border-color: gray;
    padding:0.3em;

}

.filters__text{
    margin:0em;
}

.accomodations__card, .popular__card, .activities__card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px; /* 5px rounded corners */
    margin:2em;
  }
  
  
  /* Add rounded corners */
  img {
    border-radius: 10px;
  }

.accomodations-popular{
    display: flex;
    flex-wrap: nowrap;
}

.accomodadations{
    flex: 2;
    flex-direction: column;
}

.popular{
    flex:1;
}

.card__img, .accomodations__img{
    width: 20%;
}

.accomodations__card{
    display: flex;
}


.footer, .footer__container{
    display: flex;
    width: 32%;
    
}

.footer__container{
   display: block;

}


.footer__item{
    flex-direction: column;

}


